body {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    text-align: center;
    background-size: 105%;
    
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container {

    width: 298px;
    height: 595px;
    border-radius: 25px;
    background-color: rgb(244, 220, 233);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 0 10px 1px rgb(250, 249, 252);
    overflow: hidden;
    cursor: grab;
}
.header
{
    font-family: "Times New Roman", Times, serif;
    background-color: black;
    color: rgb(202, 134, 219);
    font-size: 25px;
    text-align: center;
    height: 50px; 
     width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 25px;
}
button {
margin: 10px auto;
width: 140px;
height: 40px;
background-color: black;
color: rgb(205, 149, 230);
font-size: 20px;
border: none;
border-radius: 5px;
}
button:hover{
   color: rgb(67, 241, 166);
}
 input,
    select {
    width: 75%;
    border: none;
    border-bottom: 2px solid rgb(222, 157, 213);
    padding: 6px;
    border-radius: 6px;
}